In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load data to a DataFrame
data = pd.read_csv('firms_characteristics_data.csv')
display(data)

,datadate,cusip,conm,tic,oibdpq,capxy,invtq,actq,ancq,ltq,lctq,niq,cogsq,revtq
0,2000-01-31,000886309,ADC TELECOMMUNICATIONS INC,ADCT.1,97.000,46.785,281.438,1137.412,677.107,418.514,405.398,53.100,291.300,593.900
1,2000-01-31,81765M106,SERVIDYNE INC,SERV.1,1.552,9.597,11.521,39.941,70.734,89.405,29.709,-3.042,26.366,30.087
2,2000-01-31,008015307,AEROSONIC CORP,AIM.1,0.221,0.558,10.606,17.435,5.339,10.130,6.224,-0.001,4.219,6.279
3,2000-01-31,45169P106,IDNA INC,IDAI.,2.828,1.091,0.000,NaN,NaN,20.083,NaN,-3.312,0.775,2.031
4,2000-01-31,013104104,ALBERTSON'S INC,ABS.1,762.091,1837.000,3480.893,4582.099,11118.815,9999.388,4054.647,263.832,6874.253,9898.896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748608,2022-05-31,92912J102,VOYA ASIA PAC HI DIV EQ INCM,IAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748609,2022-05-31,231631300,CUSHING MLP & INFASTCR TR FD,SRV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748610,2022-05-31,89148H207,TORTOISE PIPELINE & ENRGY FD,TTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748611,2022-05-31,89147L886,TORTOISE ENERGY INFRASTR CP,TYG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748612,2022-05-31,55607W100,MACQUARIE/FIRST TRUST GLOBAL,MFD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This dataset works with CUSIP-9 but the monthly stock returns dataset works with CUSIP-8.

In [3]:
# Reformat CUSIP-9 into CUSIP-8
data['cusip'] = data['cusip'].str[:8]

In [4]:
# CUSIPs of agricultural and food industries stocks selected in "target returns.ipynb"
food_cusip_list = ['66649910', '01623010', '92928610', '76117W10', 'L0084910', '10554B10', '68620A10', '56824R20', '81761R10', '88087E10', '05882210', '91345610', '72814N10', '10948C10', '22052L10', '57632310', '12803020', '22113B10', '53960E20', '38867H10', '04420410', '04420910', '96216610', '25660510', '87908010', '11044810', '55307U10', '66390410', '87137110', '60052030', '92209910', '92209920', '92209930', '73285710', '92551410', '29081710', '81018610', '24735710', '33932440', '33932480', '88065X20', '80517510', '04939110', '04940820', '09063Q10', '27885810', '22640610', '80640310', '45646310', 'G3673810', '12753710', '12753720', '90297710', '68210P10', '39823110', '45580R10', '43324510', '81665810', '87160A10', '33932470', '33932487', '88065X30', '91819410', '12824610', 'G4412G10', 'G6782810', 'G6782820', '02533410', '40426A20', '00846L10', 'G2534310', '00850H10', '71581310', '16945310', '31573A10', '72147K10', '90457130', '63888U10', '86923910', '86765K10', '85208M10', '83190B10', '50104410', '20440T30', '01309110', '81689T10', '97428010', 'G0896C10', '42227T10', '39006410', '23386010', '94884910', '86853610', '86853630', '34482010', '01310410', '57178330', '78125810', '41458510', '39863510', '81274410', '78651420', '50046730', '50046740', '57178320', '81782620', '96683710', '92710740', '80223310', '09605510', '02051Q10', '02051Q20', '21238A20', '86845310', '25475310', '86851120', '30243M10', '69865710', '23386020', '23386030', '24668810', '24668820', '53619110', '70322A10', '29759W10', '86923310', '97428030', '59000K10', '08204720', '22238M10', 'G0457F10', '98581710', '12122010', '03852U10', '98979J10', '26860310', '94419L10', '76131D10', '81904710', '46609J10', '85238720', '85238730', '85238740', '85238750', '85238760', '98850P10', '13765N10', '08204710', '08986R40', '92552R10', '95058710', '95058W10', '87043Q10', '10964110', '14892910', '92338C10', '83419D20', '20979810', '85787310', '85787320', '08986R10', '08986R30', '22410J10', '41078310', '58013510', '91890510', '12561E10', '57790310', '33851710', '78118210', '83013910', '98160A10', '62936030', '35874810', '71956710', '95059010', '54928210', '61690020', '46609610', '78351910', '78352010', '82503910', '12513710', '21628420', '16090210', '87224510', '38214087', '56034530', '68989910', '67104A10', '44962310', '25442310', '46636710', '61942910', '05635W10', '28619920', '51508L10', '75419810', '87217310', '92581710', '71913210', '90331R10', '95954220', '23719410', '23833N10', '36111560', '28257U10', '61845910', '25367520', '05551A10', '44926L30', '89595310', '98849810', '85508610', '35849710', '73316740', '11988210', '68386P10', '50101410', '13054D10', '00104Q10', '73287210', '10782M10', '83175810', '38724Q10', '38724Q40', '03852110', '83379210', '75689M10', '22122P10', '22122P20', '11984810', '25754A20', '57979310', '88268110', '50047H20', '78333210', '16965610', '61943010', '88706M10', '12120820', '16965620', '14574X10', '36191G10', '15132H10', '40011010', '26414D10', '26701L10', '02028M10', '87182910', '92849E10']

# Filter data for only those stocks
firm_characteristics = data[(data['cusip'].isin(food_cusip_list))]
firm_characteristics

,datadate,cusip,conm,tic,oibdpq,capxy,invtq,actq,ancq,ltq,lctq,niq,cogsq,revtq
4,2000-01-31,01310410,ALBERTSON'S INC,ABS.1,762.091,1837.000,3480.893,4582.099,11118.815,9999.388,4054.647,263.832,6874.253,9898.896
55,2000-01-31,22410J10,CRACKER BARREL OLD CTRY STOR,CBRL,40.687,72.809,91.760,118.844,1173.155,480.727,120.104,6.390,147.569,443.170
58,2000-01-31,23386030,DAIRY MART CONVENIENCE STRS,3DMCSQ,NaN,41.878,34.804,67.257,142.542,202.930,69.148,-4.276,115.403,150.340
94,2000-01-31,34482010,FOODARAMA SUPERMARKETS,FSM.2,5.383,6.947,40.314,56.110,105.478,125.664,62.753,0.784,158.550,211.541
139,2000-01-31,50104410,KROGER CO,KR,995.000,1701.000,3938.000,5531.000,12435.000,15283.000,5728.000,246.000,8173.000,11241.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748121,2022-04-30,50104410,KROGER CO,KR,2402.000,745.000,7358.000,12276.000,36815.000,39698.000,16238.000,664.000,34952.000,44600.000
748144,2022-04-30,92710740,VILLAGE SUPER MARKET -CL A,VLGEA,16.137,36.834,46.429,225.060,688.718,552.203,152.720,-3.230,360.370,501.962
748288,2022-04-30,26414D10,DUCKHORN PORTFOLIO INC (THE),NAPA,23.580,24.878,292.077,348.827,875.339,363.991,55.889,15.565,45.267,91.584
748360,2022-04-30,12824610,CALAVO GROWERS INC,CVGW,11.386,3.787,53.617,185.937,282.355,244.525,140.248,-0.191,305.584,331.418
748535,2022-05-31,23719410,DARDEN RESTAURANTS INC,DRI,NaN,376.900,270.600,1179.400,8956.400,7937.600,1847.500,281.700,2064.500,2602.900

Chosen predictors:
- oibdpq: core profitability
- capxy: investment in equipment (sensitive to climate)
- invtq: can be sensitive to crop cycles or supply shocks
- actq + ancq = Total Assets: size indicator
- ltq / (actq + ancq) = Debt to Assets: leverage, risk from financial instability
- actq / lctq = Current Ratio: Liquidity, short-term health
- niq / (actq + ancq) = Return on Assets: general profitability
- (revtq - cogsq) / revtq = Gross Margin: core operational efficiency
- ∆revt = Sales Growth: reflects demand and production trends

In [5]:
# Create predictors from firm characteristics
firm_characteristics = firm_characteristics.copy()

firm_characteristics['Total Assets'] = firm_characteristics['actq'] + firm_characteristics['ancq']
firm_characteristics['Debt-to-Assets'] = firm_characteristics['ltq'] / firm_characteristics['Total Assets']
firm_characteristics['Current Ratio'] = firm_characteristics['actq'] / firm_characteristics['lctq']
firm_characteristics['ROA'] = firm_characteristics['niq'] / firm_characteristics['Total Assets']
firm_characteristics['Gross Margin'] = (firm_characteristics['revtq'] - firm_characteristics['cogsq']) / firm_characteristics['revtq']
firm_characteristics['Sales Growth'] = firm_characteristics['revtq'].pct_change(fill_method=None)

# Drop no longer useful columns
firm_characteristics = firm_characteristics.drop(columns=['tic', 'conm', 'actq', 'ancq', 'ltq', 'lctq', 'niq', 'revtq', 'cogsq']).reset_index(drop=True)

# Rename the columns for consistence
columns_names = {'cusip':'CUSIP', 'datadate':'Date', 'oibdpq':'Operating Income', 'capxy':'CAPEX', 'invtq':'Inventories'}
firm_characteristics = firm_characteristics.rename(columns=columns_names)

# Format all dates to the end of month
firm_characteristics['Date'] = pd.to_datetime(firm_characteristics['Date'])
firm_characteristics['Date'] = firm_characteristics['Date'] + pd.offsets.MonthEnd(0)

display(firm_characteristics)

,Date,CUSIP,Operating Income,CAPEX,Inventories,Total Assets,Debt-to-Assets,Current Ratio,ROA,Gross Margin,Sales Growth
0,2000-01-31,01310410,762.091,1837.000,3480.893,15700.914,0.636867,1.130086,0.016804,0.305554,NaN
1,2000-01-31,22410J10,40.687,72.809,91.760,1291.999,0.372080,0.989509,0.004946,0.667015,-0.955230
2,2000-01-31,23386030,NaN,41.878,34.804,209.799,0.967259,0.972653,-0.020381,0.232387,-0.660762
3,2000-01-31,34482010,5.383,6.947,40.314,161.588,0.777682,0.894141,0.004852,0.250500,0.407084
4,2000-01-31,50104410,995.000,1701.000,3938.000,17966.000,0.850662,0.965608,0.013693,0.272929,52.138635
...,...,...,...,...,...,...,...,...,...,...,...
6531,2022-04-30,50104410,2402.000,745.000,7358.000,49091.000,0.808661,0.756004,0.013526,0.216323,55.441693
6532,2022-04-30,92710740,16.137,36.834,46.429,913.778,0.604308,1.473677,-0.003535,0.282077,-0.988745
6533,2022-04-30,26414D10,23.580,24.878,292.077,1224.166,0.297338,6.241425,0.012715,0.505732,-0.817548
6534,2022-04-30,12824610,11.386,3.787,53.617,468.292,0.522164,1.325773,-0.000408,0.077950,2.618733
6535,2022-05-31,23719410,NaN,376.900,270.600,10135.800,0.783125,0.638376,0.027793,0.206846,6.853828

In [6]:
# Look for number of missing values per column
firm_characteristics.isna().sum()

Date                  0
CUSIP                 0
Operating Income    304
CAPEX               289
Inventories         402
Total Assets        367
Debt-to-Assets      367
Current Ratio       359
ROA                 370
Gross Margin        116
Sales Growth        113
dtype: int64

In [7]:
# Save DataFrame to a csv file
firm_characteristics.to_csv('df_firm_characteristics.csv', index=False)